<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ static_url("index.css") }}" type="text/css"/>
    <script>
        socket_path = 'ws://127.0.0.1:8080/chat';
    </script>
    <title>Rambler Chat</title>
</head>
<body>
    <h1>Hi there</h1>
    <div>
        <error>{% if error %}{{ error }}{% end %}</error>
        <form method="post">
            {% module xsrf_form_html() %}
        {% if usr is not None %}
            Wellcome, <span class="username">{{ usr }}</span>
            <input type="hidden", name="logout", value="logout"><br>
            <input type="submit" value="Logout">
        {% else %}
                <label>Login:</label><br>
                <input type="text" name="login"><br>

                <label>Password:</label><br>
                <input type="password" name="pass"><br>

                <label>Create New User</label>
                <input type="checkbox" name="create"><br>
                <input type="submit" value="Ok">
        {% end %}
        </form>
    </div>
    <div id="chat">
    <p>Wellcome to chat</p>
    </div>
    <div id="sender">
        <input type="text" id="sendmessage"><input type="button" onclick="sender();">
    </div>
    <script type="text/javascript" src="{{ static_url('client.js') }}"></script>
</body>
</html>